{% extends '_base.html' %}

{% block title %}Disease Discovery{% endblock %}

{% block content %}
<div style="margin:150px 350px;">
<h2>Discover Your Disese</h2>

<div class="hidden sm:block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Enter Your Contact Information</h3>
        <p class="mt-1 text-sm text-gray-600">
          Use a permanent address where you can receive mail.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="" method="POST">
       {% csrf_token %}
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-5">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="name" id="name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-5">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

               <div class="col-span-6 sm:col-span-5">
                <label for="mobile" class="block text-sm font-medium text-gray-700">Mobile Number</label>
                <input type="text" name="email-address" id="mobile" autocomplete="mobile" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>


            

              
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Medical Test</h3>
        <p class="mt-1 text-sm text-gray-600">
          Enter the details of Medical Test as following
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="#" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                       {% comment %} 
                       
    
    
    
     {% endcomment %}

            <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">What is Your Age?</legend>
                <p class="text-sm text-gray-500">Type Your Age:</p>
              </div>
                <div class="col-span-6 sm:col-span-5">
                <label for="age" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="age" id="age"  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              </fieldset>
              <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">What is Your Body Mass Index?</legend>
                <p class="text-sm text-gray-500">Type Your BMI:</p>
              </div>
                <div class="col-span-6 sm:col-span-5">
                <label for="bmi" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="bmi" id="bmi"  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              </fieldset>
              <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">What is avgarage glucose level?</legend>
                <p class="text-sm text-gray-500">Type your avgarage glucose level:</p>
              </div>
                <div class="col-span-6 sm:col-span-5">
                <label for="avgl" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="avgl" id="avgl"  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              </fieldset>
            <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">What is Your Gender?</legend>
                <p class="text-sm text-gray-500">Choose Your Gender:</p>
              </div>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input id="gender-male" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="gender-male" class="ml-3 block text-sm font-medium text-gray-700">
                    Male
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="gender-female" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="gender-female" class="ml-3 block text-sm font-medium text-gray-700">
                    Female
                  </label>
                </div>
              </div>
            
            
            </fieldset>
            <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">I have a hypertension ?</legend>
                <p class="text-sm text-gray-500">Answer by the following : </p>
              </div>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input id="hypertension-True" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="hypertension-True" class="ml-3 block text-sm font-medium text-gray-700">
                    True
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="hypertension-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="hypertension-False" class="ml-3 block text-sm font-medium text-gray-700">
                    False
                  </label>
                </div>
              </div>
            
            
            </fieldset>
            <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">I have ever married Before..?</legend>
                <p class="text-sm text-gray-500">Answer by the following choices :</p>
              </div>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input id="married-True" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-True" class="ml-3 block text-sm font-medium text-gray-700">
                    True
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="married-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-False" class="ml-3 block text-sm font-medium text-gray-700">
                    False
                  </label>
                </div>
              </div>
            
            
            </fieldset>
                        <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">What is the type of your work?</legend>
                <p class="text-sm text-gray-500">Answer by the following choices :</p>
              </div>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input id="married-True" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-True" class="ml-3 block text-sm font-medium text-gray-700">
                    Goverment Job
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="married-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-False" class="ml-3 block text-sm font-medium text-gray-700">
                    Never Worked
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="married-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-False" class="ml-3 block text-sm font-medium text-gray-700">
                    Private
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="married-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-False" class="ml-3 block text-sm font-medium text-gray-700">
                    Self Employed
                  </label>
                </div>
                <div class="flex items-center">
                  <input id="married-False" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label for="married-False" class="ml-3 block text-sm font-medium text-gray-700">
                    No work I have Children
                  </label>
                </div>
              </div>
            
            
            </fieldset>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}